.header,
footer {
  margin-left: 30px;
  background-color: rgb(238, 237, 236);
}

.header__nav,
.header__tel {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
}

.footer__nav {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
}